@font-face {
  font-family: "open";
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "monste";
  src: url("../fonts/Montserrat-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "open";
  height: 100%;
}

ul,
ol,
li {
  list-style: none;
}

img {
  width: 100%;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.container {
  min-height: 100%;
}

%btn-icons {
  width: 32px;
  height: 32px;
  padding: 5px;
  border: 1px solid #d5d8dd;
  border-radius: 4px;
}

%btn {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #d5d8dd;
}

%border {
  border: 1px solid #d5d8dd;
}

%input {
  height: 32px;
  padding: 6px 8px;
  border: 1px solid #d5d8dd;
}

// ===============================================HEADER
.header {
  position: sticky;
  top: 0;
  z-index: 15;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #d5d8dd;
  border-width: 0 0 1px 0;
  background-color: #fff;
}

.header__box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__box--search {
  @extend %border;
  position: relative;
  margin-right: 8px;
  width: 296px;
  input {
    @extend %input;
    width: 100%;
  }
}

.header__box--search::after {
  content: "";
  position: absolute;
  background: url("../imgs/icons/search.svg") no-repeat;
  width: 16px;
  height: 16px;
  z-index: 10;
  top: 8px;
  right: 8px;
}

.header__box--avatar {
  display: flex;
  align-items: center;
  gap: 8px;
  .header__box--avatar__img img {
    height: 32px;
    border-radius: 50%;
  }
}

.settings {
  @extend %btn-icons;
}
// aside
.container__box {
  display: flex;
  height: 100%;
  transition: margin-left 0.3s ease;
}

.aside {
  display: flex;
  width: 58px;
  overflow: hidden;
  transition: all 0.5s;
  .aside__panel {
    .header__box--avatar {
      display: none;
    }
  }
}

.aside.open {
  width: 338px;
}

.aside__panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border: 1px solid #d5d8dd;
  border-width: 0 1px 0 0;
  padding: 16px;
}

.aside__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 1px solid #d5d8dd;
  border-width: 0 1px 0 0;
}

.aside__search {
  @extend %border;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 16px;
  border-width: 0 0 1px 0;
  input {
    @extend %input;
    width: 208px;
    position: relative;
  }
}

.aside__search::after {
  content: "";
  position: absolute;
  background: url("../imgs/icons/filter.svg") no-repeat;
  width: 16px;
  height: 16px;
  z-index: 10;
  top: 26px;
  right: 67px;
}

.aside__container--fixed {
  @extend %btn-icons;
}

.aside__lists {
  padding: 16px 32px 0 40px;
  ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    li {
      position: relative;
      cursor: pointer;
    }
    li::after {
      content: "";
      background: url("../imgs/icons/arrow.svg") no-repeat;
      position: absolute;
      top: 6px;
      left: -16px;
      width: 16px;
      height: 16px;
    }
  }
}

// =====================================content
.content {
  flex: 1;
  transition: all 0.5s;
  padding-bottom: 50px;
}

.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  position: sticky;
  top: 54px;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.1);
  background-color: #fff;
}

.content__header--box {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 10px;
  p {
    font-size: 24px;
  }
}

.content__header--btn {
  @extend %btn;
}

.content__header--btns {
  display: flex;
  gap: 10px;
  button {
    @extend %btn;
  }
  button:first-child {
    @extend %btn;
    background: #0078cf;
    color: #fff;
  }
}

// ===============form
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  span {
    color: red;
  }
}

.content__form {
  padding: 5px 16px;
  h1 {
    margin-bottom: 24px;
  }
}

.form__one,
.form__second {
  display: flex;
  gap: 16px;
  .form__one--part,
  .form__second--part {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    div {
      display: flex;
      flex-direction: column;
      gap: 8px;
      input {
        @extend %input;
      }
    }
  }
}

#product__form,
#form__responsible,
#form__group,
#form__opened,
#form__created {
  flex-direction: row;
  align-items: end;
  .product__btn {
    @extend %btn-icons;
  }
  div:first-child {
    width: 100%;
  }
  .form__btns {
    flex-direction: row;
    button {
      @extend %btn-icons;
    }
  }
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 8px;
  input {
    @extend %input;
  }
}

#coordinats {
  border: 1px solid #d5d8dd;
  border-radius: 4px;
  padding: 4px;
  .coordinats__el {
    border: 1px solid #99d5ff;
    border-radius: 4px;
    padding: 3px 8px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin-top: 2px;
  }
}

#form__date {
  flex-direction: row;
  align-items: end;
  div:first-child {
    width: 100%;
  }
  button {
    @extend %btn-icons;
  }
}

// modal
.modal {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 10;
  padding: 16px 16px 0 16px;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__main {
  max-width: 800px;
  height: 100%;
  background-color: #fff;
  margin: 0 auto;
  overflow-y: auto;
  border-radius: 4px;
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;

    .modal__cancel--second {
      display: none;
    }
  }

  form {
    padding: 0 16px 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 16px;
    .content__header--btns {
      display: none;
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 8px;
      input {
        @extend %input;
      }
    }
  }
}

// adaptive
@media (max-width: 991px) {
  .form__one,
  .form__second {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .header {
    display: none;
  }

  .content__header {
    top: 0;
    .content__header--btns {
      display: none;
    }
  }

  .container__box {
    flex-direction: column;
    .content__header--box {
      width: 100%;
      justify-content: space-between;
    }
  }

  .aside.open {
    height: 861px;
    width: 100%;
  }

  .aside {
    flex-direction: column;
    width: 100%;
    height: 63px;
    .aside__panel {
      justify-content: space-between;
      flex-direction: row;
      border: 1px solid #d5d8dd;
      border-width: 0 0 1px 0;
      .aside__panel--fav {
        display: none;
      }
      .header__box--avatar {
        display: flex;
        .header__box--name {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .modal {
    padding: 0;
    form {
      .content__header--btns {
        display: flex;
      }
    }
  }

  .modal__header {
    .content__header--btns {
      display: none;
    }
    #modal__cancel {
      display: block;
    }
  }
}
