* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

body {
  height: 100vh;
}

img {
  width: 100%;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.container {
  height: 100vh;
}

%btn-icons {
  width: 32px;
  height: 32px;
  padding: 5px;
  border: 1px solid slategrey;
  border-radius: 4px;
}

%btn {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #d5d8dd;
}

%border {
  border: 1px solid #d5d8dd;
}

// ===============================================HEADER
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #d5d8dd;
  border-width: 0 0 1px 0;
}

.header__box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__box--search {
  @extend %border;
  position: relative;
  margin-right: 8px;
  width: 296px;
  input {
    width: 100%;
    padding: 6px 8px;
  }
}

.header__box--search::after {
  content: "";
  position: absolute;
  background: url("../imgs/icons/search.svg") no-repeat;
  width: 16px;
  height: 16px;
  z-index: 10;
  top: 8px;
  right: 8px;
}

.header__box--avatar {
  display: flex;
  align-items: center;
  gap: 8px;
  .header__box--avatar__img img {
    border-radius: 50%;
  }
}

.settings {
  @extend %btn-icons;
}
// aside
.container__box {
  display: flex;
  height: 100%;
}

.aside {
  display: flex;
}

.aside__panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border: 1px solid #d5d8dd;
  border-width: 0 1px 0 0;
  padding: 16px;
}

.aside__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border: 1px solid #d5d8dd;
  border-width: 0 1px 0 0;
}

.aside__search {
  @extend %border;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 16px;
  border-width: 0 0 1px 0;
  input {
    width: 208px;
    padding: 6px 8px;
    position: relative;
  }
}

.aside__search::after {
  content: "";
  position: absolute;
  background: url("../imgs/icons/filter.svg") no-repeat;
  width: 16px;
  height: 16px;
  z-index: 10;
  top: 26px;
  right: 67px;
}

.aside__container--fixed {
  @extend %btn-icons;
}

.aside__lists {
  padding: 16px 32px;
  ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
  }
}

// =====================================content
.content {
  flex: 1;
}
.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.content__header--box {
  display: flex;
  align-items: center;
  gap: 16px;
  p {
    font-size: 24px;
  }
}
.content__header--btn {
  @extend %btn;
}
.content__header--btns {
  button {
    @extend %btn;
  }
  button:first-child {
    @extend %btn;
    background: #0078cf;
    color: #fff;
  }
}

// ===============form

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  input {
    border: 1px solid #d5d8dd;
  }
}

.content__form {
  padding: 5px 16px;
  h1 {
    margin-bottom: 24px;
  }
}

.form__one,
.form__second {
  display: flex;
  gap: 16px;
  .form__one--part,
  .form__second--part {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    div {
      display: flex;
      flex-direction: column;
      gap: 8px;
      input {
        padding: 6px 8px;
      }
    }
  }
}

.comments {
  display: flex;
  flex-direction: column;
  input {
    padding: 6px 8px;
  }
}

#coordinats {
  border: 1px solid #d5d8dd;
  border-radius: 4px;
  padding: 4px;
  div {
    border: 1px solid #99d5ff;
    border-radius: 4px;
    padding: 3px 8px;
    display: inline-block;
  }
}
